{
    "singleQuote": true,
    "semi": false,
    "printWidth": 90,
    "trailingComma": "all",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.js", "*.ts", "*.jsx", "*.tsx", "*.json", "*.yml", "*.yaml"],
            "options": { "tabWidth": 2 }
        }
    ]
}
